<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">The Urmi Foundation, India</h1>
    <p class="lead">
      The Urmi Foundation works to provide a better education and future to
      children with developmental disabilities in the slums of Mumbai.
    </p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button" style="margin: 5px">Teacher Registration</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button"  style="margin: 5px">Login by teacher</a>
  </div>
  <div class="container">
    <a href="/admin">Are you a supervisor?</a>
  </div>
</div>

<%- include('partials/footer') %>
